.toolBar{
     
    height: 70px;
    background-color: whitesmoke;
}

.formInput{
    height: 35px;
    background-color: white;
}
.extentions{
    height: 35px;
    display: flex;
}
.customButton{
    background-color: none;
    border: none;
    width: 40px;
    height: 35px;
    font-size: 18px;
    color: gray;
}
.formSizeText{
    background-color: none;
    width: 100px;
    border: none;
    display: flex;
}
.customButton2{
    background-color: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 30px;
    height: 25px;
    font-size: 18px;
    color: gray;
    margin-top: 5px;
    margin-left: 20px;
}
.formSizeNumber{
    color:gray;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}