 
.itemRow{
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #eee;
}
.itemRowIndi{
    text-align: center;
    border-right: 3px solid blue;
    background-color: #cccccc;
}