.grid-container {
    display: block;
  
}
 
.grid-item {
    display: inline-block;
    border: 1px solid #eee;
    position: relative;
}
.grid-item-selected{
    background-color: #D6EAF8;
}
.styleText{
    text-align: center;
    /* margin-top: 18px; */
    position: absolute;
} 
 
 