/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */
.grid-container {
    display: block;
    width: 100%;;
}
 
.grid-item {
    display: inline-block;
    border: 1px solid #eee;
    position: relative;
}
.grid-item-selected{
    background-color: #D6EAF8;
}
.styleText{
    position: absolute;
}
 

 