.wordCol{
    display: flex;
    text-align: center;
   
}
.itemCol{
    border: 1px solid #cccccc;
    background-color: #eee;
    /* resize: horizontal;
    overflow: auto; */
}

.itemColFirst{
    width: 30px;
    background-color: #eee;
    
}
 
.itemColIndi{
    border-bottom: 2px solid blue;
    background-color: #cccccc;
    /* resize: horizontal;
    overflow: auto; */
}
